@model Hotel_Management.Models.BedToRoom

@{
    ViewData["Title"] = "Create";
    var RoomTypeID = (IEnumerable<SelectListItem>)ViewData["RoomTypeID"];
    var BedTypeID = (IEnumerable<SelectListItem>)ViewData["BedTypeID"];
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>BedToRoom</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="RoomTypeID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="RoomTypeID" asp-items="RoomTypeID" class="form-control">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BedTypeID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="BedTypeID" asp-items="BedTypeID" class="form-control">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quanitity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quanitity" class="form-control" />
                <span asp-validation-for="Quanitity" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-action="Index">Back to Summary</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
