@model Hotel_Management.Models.CreditCardDetails

@{
    ViewData["Title"] = "Create";
    var Guest = (IEnumerable<SelectListItem>)ViewData["CustomerGuestID"];
}

<h2>Create Credit Card Details</h2>

<form asp-action="Create">
    <div class="form-horizontal">
       
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
       <div class="form-group">
            <label asp-for="CustomerGuestID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CustomerGuestID" asp-items="Guest" class="form-control">
                    
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreditCardNumbers" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreditCardNumbers" class="form-control" />
                <span asp-validation-for="CreditCardNumbers" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreditCardExpiryMonth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreditCardExpiryMonth" class="form-control" />
                <span asp-validation-for="CreditCardExpiryMonth" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreditCardExpiryYear" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreditCardExpiryYear" class="form-control" />
                <span asp-validation-for="CreditCardExpiryYear" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreditCardName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreditCardName" class="form-control" />
                <span asp-validation-for="CreditCardName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreditCardCVC" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreditCardCVC" class="form-control" />
                <span asp-validation-for="CreditCardCVC" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CreditCardNotes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreditCardNotes" class="form-control" />
                <span asp-validation-for="CreditCardNotes" class="text-danger" />
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>



@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
