@model Hotel_Management.Models.Alarm

@{
    ViewData["Title"] = "Create";
    var Guest = (IEnumerable<SelectListItem>)ViewData["CustomerGuestID"];
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Alarm</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="AlarmDateReceived" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AlarmDateReceived"  id="datepicker1" class="form-control" />
                <span asp-validation-for="AlarmDateReceived" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerGuestID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CustomerGuestID" asp-items="Guest" class="form-control">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AlarmTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AlarmTitle" class="form-control" />
                <span asp-validation-for="AlarmTitle" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AlarmDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AlarmDate"  id="datepicker2" class="form-control" />
                <span asp-validation-for="AlarmDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AlarmTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AlarmTime"  id="timepicker3" class="form-control" />
                <span asp-validation-for="AlarmTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AlarmAlertNotes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="AlarmAlertNotes" class="form-control"></textarea>
                <span asp-validation-for="AlarmAlertNotes" class="text-danger" />
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-action="Index">Back to Summary</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @*Below code controls date picker*@
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script>

    $(function () {
        $("#datepicker1").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", new Date());
        $("#datepicker2").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", new Date());
        $('#timepicker3').timepicker({
            timeFormat: 'h:mm p',
            interval: 15,
            minTime: '12:15AM',
            maxTime: '11:45PM',
            defaultTime: '07',
            startTime: '12:45AM',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });

    });

</script>


}
