@model Hotel_Management.Models.MessageAlert

@{
    ViewData["Title"] = "Create";
    var CustomerGuestID = (IEnumerable<SelectListItem>)ViewData["CustomerGuestID"];
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>MessageAlert</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="MessageAlertDateReceived" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MessageAlertDateReceived" id="datepicker1" class="form-control" />
                <span asp-validation-for="MessageAlertDateReceived" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CustomerGuestID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CustomerGuestID" asp-items="CustomerGuestID" class="form-control">
                    <option></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="MessageAlertTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MessageAlertTitle" class="form-control" />
                <span asp-validation-for="MessageAlertTitle" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MessageAlertMessage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="MessageAlertMessage" class="form-control"></textarea>
                <span asp-validation-for="MessageAlertMessage" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CMessageAlertNotes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="CMessageAlertNotes" placeholder="Delivery notes" class="form-control"></textarea>
                <span asp-validation-for="CMessageAlertNotes" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script>

    $(function () {
        $("#datepicker1").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", new Date());
        
    });

</script>

}
