@model Hotel_Management.Models.Staff

@{
    ViewData["Title"] = "Create";
    var HotelID = (IEnumerable<SelectListItem>)ViewData["HotelID"];
    var JobPositionID = (IEnumerable<SelectListItem>)ViewData["JobPositionID"];
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Staff</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="HotelID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="HotelID" asp-items="HotelID" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StaffFirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StaffFirstName" class="form-control" />
                <span asp-validation-for="StaffFirstName" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="StaffLastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StaffLastName" class="form-control" />
                <span asp-validation-for="StaffLastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JobPositionID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="JobPositionID" asp-items="JobPositionID" class="form-control">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StaffAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StaffAddress" class="form-control" />
                <span asp-validation-for="StaffAddress" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StaffSuburb" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StaffSuburb" class="form-control" />
                <span asp-validation-for="StaffSuburb" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StaffCity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StaffCity" class="form-control" />
                <span asp-validation-for="StaffCity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StaffCellPhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StaffCellPhoneNumber" class="form-control" />
                <span asp-validation-for="StaffCellPhoneNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StaffHomePhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StaffHomePhone" class="form-control" />
                <span asp-validation-for="StaffHomePhone" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="StaffEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StaffEmail" class="form-control" />
                <span asp-validation-for="StaffEmail" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="StaffPhoto" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StaffPhoto" class="form-control" />
                <span asp-validation-for="StaffPhoto" class="text-danger" />
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-action="Index">Back to Summary</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
