@{
    ViewData["Title"] = "Management Processes";
}

<div class="row">
    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">Staff</h3>
        <a asp-controller="Staff" asp-action="Create" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-user  glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
    @*<div class="col-md-3 col-sm-6 ">
        <h3 class="text-center">Edit Staff</h3>
        <a asp-controller="Staff" asp-action="Index" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-edit glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>*@

    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">Job Descriptions</h3>
        <a asp-controller="JobPosition" asp-action="Create" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-copy glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">System Users</h3>
        <a asp-controller="Account" asp-action="Register" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-log-in glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
</div>
<div class="row">

    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">New Hotel</h3>
        <a asp-controller="Hotel" asp-action="Create" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-header glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 ">
        <h3 class="text-center">Rooms</h3>
        <a asp-controller="Room" asp-action="Create" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-lamp glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
   
        <div class="col-md-3 col-sm-6">
            <h3 class="text-center">Carpark</h3>
            <a asp-controller="Carpark" asp-action="Create" class="btn btn-default btn-block">
                <span class="glyphicon glyphicon-road glyphicon-large" aria-hidden="true"></span>
            </a>
        </div>
   
    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">Floors</h3>
        <a asp-controller="Floor" asp-action="Index" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-menu-hamburger glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>

</div>

    
    <div class="row">

        <div class="col-md-3 col-sm-6">
            <h3 class="text-center">Reports</h3>
            <a asp-controller="Booking" asp-action="Reports" class="btn btn-warning btn-block">
                <span class="glyphicon glyphicon-retweet glyphicon-large" aria-hidden="true"></span>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <h3 class="text-center"></h3>
            @*<a asp-controller="Hotel" asp-action="Backup" class="btn btn-danger btn-block">
                <span class="glyphicon glyphicon-cog glyphicon-large" aria-hidden="true"></span>
            </a>*@
            </div>
           <div class="col-md-3 col-sm-6">
            <h3 class="text-center"></h3>
            @*<a asp-controller="Hotel" asp-action="Backup" class="btn btn-danger btn-block">
                <span class="glyphicon glyphicon-alert glyphicon-large" aria-hidden="true"></span>
            </a>*@
        </div>
 
        <div class="col-md-3 col-sm-6">
            <h3 class="text-center">Backup System</h3>
            <a asp-controller="Hotel" asp-action="Backup" class="btn btn-danger btn-block">
                <span class="glyphicon glyphicon-alert glyphicon-large" aria-hidden="true"></span>
            </a>
        </div>
    </div>

