@model Hotel_Management.Models.CalendarToRoom

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>CalendarToRoom</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="BookingID" class="control-label col-md-2">BookingID</label>
            <div class="col-md-10">
                <select asp-for="BookingID" class="form-control" />
                <span asp-validation-for="BookingID" class="text-danger" />
            </div>
        </div>
        @*<div class="form-group">
            <label asp-for="CalendarID" class="control-label col-md-2">CalendarID</label>
            <div class="col-md-10">
                <select asp-for="CalendarID" class="form-control" />
                <span asp-validation-for="CalendarID" class="text-danger" />
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsBooked" />
                    <label asp-for="IsBooked"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RoomID" class="control-label col-md-2">RoomID</label>
            <div class="col-md-10">
                <select asp-for="RoomID" class="form-control" />
                <span asp-validation-for="RoomID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-action="Index">Back to Summary</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
