@model Hotel_Management.Models.CarparkBooking

@{
    ViewData["Title"] = "Edit";
    var CustomerGuestID = (IEnumerable<SelectListItem>)ViewData["CustomerGuestID"];
    var CarparkID = (IEnumerable<SelectListItem>)ViewData["CarparkID"];
}
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Carpark Booking</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="CarparkID" class="control-label col-md-2">CarparkID</label>
            <div class="col-md-10">
                <select asp-for="CarparkID"asp-items="CarparkID" class="form-control">
                    <option></option>
                </select>
                <span asp-validation-for="CarparkID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerGuestID" class="control-label col-md-2">CustomerGuestID</label>
            <div class="col-md-10">
                <select asp-for="CustomerGuestID" asp-items="CustomerGuestID" class="form-control">
                    <option></option>
                </select>
                <span asp-validation-for="CustomerGuestID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Date" id="datepicker1" class="form-control" />
                <span asp-validation-for="Date" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-action="Index">Back to Summary</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script>

    $(function () {
        $("#datepicker1").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", new Date());
    });
</script>

}
