@model Hotel_Management.Models.CustomerGuest

@{
    ViewData["Title"] = "Create";
    var AgencyID = (IEnumerable<SelectListItem>)ViewData["AgencyID"];
    var CompanyID = (IEnumerable<SelectListItem>)ViewData["CompanyID"];
}

<h2>Add a new guest</h2>
<div class="tooltipgill" style="color:red">
    Important!
    <span class="tooltiptextgill">
        Please ensure that all fields have been filled in before pressing create.
    </span>
</div>
<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CustomerFirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CustomerFirstName" class="form-control" />
                <span asp-validation-for="CustomerFirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerLastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CustomerLastName" class="form-control" />
                <span asp-validation-for="CustomerLastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CustomerAddress" class="form-control" />
                <span asp-validation-for="CustomerAddress" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerSuburb" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CustomerSuburb" class="form-control" />
                <span asp-validation-for="CustomerSuburb" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerCity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CustomerCity" class="form-control" />
                <span asp-validation-for="CustomerCity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerCellPhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CustomerCellPhoneNumber" class="form-control" />
                <span asp-validation-for="CustomerCellPhoneNumber" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CustomerHomePhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CustomerHomePhone" class="form-control" />
                <span asp-validation-for="CustomerHomePhone" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CustomerEmail" class="form-control" />
                <span asp-validation-for="CustomerEmail" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label  class="col-md-2 control-label">Agency Name (optional)</label>
            <div class="col-md-3">
                <select asp-for="AgencyID" asp-items="AgencyID" class="form-control">
                    <option></option>
                </select>
            </div>
       
       
            <div class="col-md-1">
                <a href="/Agency/Create" class="btn btn-default"><i class="glyphicon glyphicon-option-horizontal"></i></a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Company Name (optional)</label>
            <div class="col-md-3">
                <select asp-for="CompanyID" asp-items="CompanyID" class="form-control">
                    <option></option>
                </select>
            </div>


            <div class="col-md-1">
                <a href="/Company/Create" class="btn btn-default"><i class="glyphicon glyphicon-option-horizontal"></i></a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-action="Index">Back to Summary</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
