@model Hotel_Management.Models.Maintenance

@{
    ViewData["Title"] = "Create";
    var StaffID = (IEnumerable<SelectListItem>)ViewData["StaffID"];
    var RoomID = (IEnumerable<SelectListItem>)ViewData["RoomID"];
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Maintenance</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DateEntered" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateEntered" id="datepicker1" class="form-control" />
                <span asp-validation-for="DateEntered" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StaffID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="StaffID" asp-items="StaffID" class="form-control">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-md-2 control-label">Room Number</label>
            <div class="col-md-10">
                <select asp-for="RoomID" asp-items="RoomID" class="form-control">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaintenanceName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaintenanceName" class="form-control" />
                <span asp-validation-for="MaintenanceName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaintenanceDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="MaintenanceDescription" rows="5" class="form-control"></textarea>
                <span asp-validation-for="MaintenanceDescription" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="MaintenanceNotes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="MaintenanceNotes" rows="5" class="form-control"></textarea>
                <span asp-validation-for="MaintenanceNotes" class="text-danger" />
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-action="Index">Back to Summary</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@*Below code controls date picker*@
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script>

    $(function () {
        $("#datepicker1").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", new Date());
         });

</script>
}
