@model Hotel_Management.Models.Maintenance

@{
    ViewData["Title"] = "Edit";
    var StaffID = (IEnumerable<SelectListItem>)ViewData["StaffID"];
    var RoomID = (IEnumerable<SelectListItem>)ViewData["RoomID"];
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Maintenance</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="MaintenanceCompleted" />
                    <label asp-for="MaintenanceCompleted"></label>
                </div>
            </div>
        </div><div class="form-group">
            <label asp-for="DateEntered" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateEntered" class="form-control" />
                <span asp-validation-for="DateEntered" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RoomID" class="control-label col-md-2">RoomID</label>
            <div class="col-md-10">
                <select asp-for="RoomID" asp-items="RoomID"  class="form-control">
                    
                </select>
                <span asp-validation-for="RoomID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StaffID" class="control-label col-md-2">StaffID</label>
            <div class="col-md-10">
                <select asp-for="StaffID" asp-items="StaffID" class="form-control">
                    
                </select>
                <span asp-validation-for="StaffID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaintenanceName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaintenanceName" class="form-control" />
                <span asp-validation-for="MaintenanceName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaintenanceDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="MaintenanceDescription" rows="5" class="form-control"></textarea>
                <span asp-validation-for="MaintenanceDescription" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="MaintenanceNotes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="MaintenanceNotes" rows="5" class="form-control"></textarea>
                <span asp-validation-for="MaintenanceNotes" class="text-danger" />
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-action="Index">Back to Summary</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
