@model Hotel_Management.Models.Booking

@{
    ViewData["Title"] = "Create";
    var CustomerGuestID = (IEnumerable<SelectListItem>)ViewData["CustomerGuestID"];
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Booking</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="BookingMade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BookingMade" type="date" id="datepicker1" class="form-control"  />

                <span asp-validation-for="BookingMade" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerGuestID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CustomerGuestID" asp-items="CustomerGuestID" class="form-control">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ArrivalDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ArrivalDate" type="date" id="datepicker2" class="form-control" />
                <span asp-validation-for="ArrivalDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DepartureDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DepartureDate" type="date" id="datepicker3" class="form-control" />
                <span asp-validation-for="DepartureDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NumberofNights" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NumberofNights" class="form-control" />
                <span asp-validation-for="NumberofNights" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(function () {

        $("#datepicker1").datepicker();
        $("#datepicker1").datepicker('setDate', new Date());
        $("#datepicker2").datepicker("show");
        $("#datepicker3").datepicker();
    });
</script>
}
