@model IEnumerable<Hotel_Management.Models.Booking>

@{
    ViewData["Title"] = "To Printer";
}

<h2>Your Document has Printed...</h2>

<a class="btn btn-default" href='javascript:history.go(-1)'>Go Back to Previous Page</a>
