@{
    ViewData["Title"] = "Home Page";
}

<h2>Daily Reports</h2>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">Alarms Report</h3>
        <a asp-controller="Alarm" asp-action="IndexToAction" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-time glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 ">
        <h3 class="text-center">Messages Report</h3>
        <a asp-controller="MessageAlert" asp-action="IndexToAction" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-comment glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">Maintenance Report</h3>
        <a asp-controller="Maintenance" asp-action="IndexToAction" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-wrench glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">Housekeeping Reports</h3>
        <a asp-controller="ChargeBack" asp-action="Create" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-bell glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>

    
</div>
<h2>Full Reports</h2>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">Alarms Report</h3>
        <a asp-controller="Alarm" asp-action="Index" class="btn btn-success btn-block">
            <span class="glyphicon glyphicon-time glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 ">
        <h3 class="text-center">Messages Report</h3>
        <a asp-controller="MessageAlert" asp-action="Index" class="btn btn-success btn-block">
            <span class="glyphicon glyphicon-comment glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">Maintenance Report</h3>
        <a asp-controller="Maintenance" asp-action="Index" class="btn btn-success btn-block">
            <span class="glyphicon glyphicon-wrench glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
   
</div>

