@{
    ViewData["Title"] = "Home Page";
}

<h2 class="color-purple-2-2">Daily Reports</h2>
<div class="tooltipgill">
    Help
    <span class="tooltiptextgill">
        Alarms Report: Here you can view the reports that currently need to be actioned  <br /><br />
        Messages Report: Here you can see all of the messages that have been created and need to be actioned <br /><br />
        Maintenance Report: Here you can see all of the current maintenance requests that need to be actioned <br /><br />
        Housekeeping Reports: Here you can create a chargeback request
    </span>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">Alarms Report</h3>
        <a asp-controller="Alarm" asp-action="IndexToAction" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-time glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 ">
        <h3 class="text-center">Messages Report</h3>
        <a asp-controller="MessageAlert" asp-action="IndexToAction" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-comment glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">Maintenance Report</h3>
        <a asp-controller="Maintenance" asp-action="IndexToAction" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-wrench glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">Housekeeping Reports</h3>
        <a asp-controller="ChargeBack" asp-action="Create" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-bell glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>

    
</div>
<div class="tooltipgill">
    Help
    <span class="tooltiptextgill">
        In-House Today: Here you can get a list of the guests currently in the hotel <br /><br />
        Checking Out Today: Here you can get a list of the guests the are due to check out today <br /><br />
        In-House Tomorrow: Here you can check to see what guests are currently booked in to be in the hotel tomorrow
    </span>
</div>
<div class="row">

    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">In-House Today</h3>
        <a asp-controller="Booking" asp-action="Index" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-check glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 ">
        <h3 class="text-center">Checking Out Today</h3>
        <a asp-controller="Booking" asp-action="Index" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-share glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">In-House Tomorrow</h3>
        <a asp-controller="Booking" asp-action="Index" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-play glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <h3 class="text-center"></h3>
        @*<a asp-controller="Booking" asp-action="Index" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-list glyphicon-large" aria-hidden="true"></span>
        </a>*@
    </div>

</div>
<h2 class="color-purple-2-2">Full Reports</h2>
<div class="tooltipgill">
    Help
    <span class="tooltiptextgill">
        Alarms Report: Here you will find a list of all alarms created in the hotel both past and present. <br /><br />
        Messages Report: Here you will find a list of all of the messages created in the hotel both past and present. <br /><br />
        Maintenance Report: Here you will find a list of all maintenance reports both past and present.
    </span>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">Alarms Report</h3>
        <a asp-controller="Alarm" asp-action="Index" class="btn btn-warning btn-block">
            <span class="glyphicon glyphicon-time glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 ">
        <h3 class="text-center">Messages Report</h3>
        <a asp-controller="MessageAlert" asp-action="Index" class="btn btn-warning btn-block">
            <span class="glyphicon glyphicon-comment glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">Maintenance Report</h3>
        <a asp-controller="Maintenance" asp-action="Index" class="btn btn-warning btn-block">
            <span class="glyphicon glyphicon-wrench glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
   
</div>

