@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="loginimage">
    <img src="~/images/logo.png" style="width:350px;height:350px;" />
</div>
    <form name="time">
        <input type="text" id="timeOnIndex" name="time2" size=50>

    </form>

<div class="row">
    <div>
        <section>
            <div class="loginform">
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal-login" role="form" style="text-align:center;">
                    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="col-lg-5 control-label"></label>
                        <div class="col-lg-7" .>
                            <input asp-for="Username" class="form-control-login" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="col-lg-5 control-label"></label>
                        <div class="col-lg-7">
                            <input asp-for="Password" class="form-control-login" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-lg-12">
                            <div class="checkbox">
                                <input asp-for="RememberMe" />
                                <label asp-for="RememberMe"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-default">Log in</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

@*This controls the time*@
<script>
    function liveclock() {

        var curdate = new Date()//stores today
        var hours = curdate.getHours()//gets the hours
        var minutes = curdate.getMinutes()//gets minutes
        var seconds = curdate.getSeconds()
        var suffix = "AM"
        if (hours >= 12) {
            suffix = "PM"
        }//deals with changing suffix
        if (hours >= 13) {
            hours -= 12
        }//change to 12 hour time

        if (minutes < 10) {
            minutes = "0" + minutes
        }

        var thetime = hours + ":" + minutes + " " + suffix //puts it all togther
        document.time.time2.value = thetime//adds the var to the input
        setTimeout("liveclock()", 1000)//timesout just in case it doesnt work
    }
    liveclock()//runs the function
</script>
}