@{
    ViewData["Title"] = "Home Page";
}

    <form name="time" style="margin-top: 50px;">
        <input type="text" id="timeOnIndex" name="time2" size=50>

    </form>

<div class="MainIndexDiv">

    @if (User.IsInRole("Manager"))
    { 
            <h2>To access specific management tasks use the link below</h2>
            <a class="btn2"  asp-controller="Staff" asp-action="Tasks">Management</a>
            <br />
            <img src="~/images/line.png" class="img-responsive colouredline" alt="Dividing Line" />
            <h2>To access tasks done by recepetion use the link below</h2>
            <a class="btn2" asp-controller="Booking" asp-action="Tasks">Reception</a>
            <br />
            <img src="~/images/line.png" class="img-responsive colouredline" alt="Dividing Line" />
            <h2>To access tasks done by housekeeping use the link below</h2>
            <a class="btn2" asp-controller="Room" asp-action="Tasks">Housekeeping</a>

    }
    else if (User.IsInRole("Reception"))
    {
            <a class="btn2" asp-controller="Booking" asp-action="Tasks">Reception</a>
    }
    else if(User.IsInRole("Housekeeping"))
    {
            <a class="btn2" asp-controller="Room" asp-action="Tasks">Housekeeping</a>
    }
    else
    {
        <h1>When you login you will see the fields that you need to see here</h1>

    }

</div>



@*This controls the time*@
@section Scripts{
<script>
function liveclock(){

var curdate=new Date()//stores today
var hours = curdate.getHours()//gets the hours
var minutes=curdate.getMinutes()//gets minutes
var seconds=curdate.getSeconds()
var suffix ="AM"
if (hours>=12){
suffix="PM"}//deals with changing suffix
if(hours>=13){
hours-=12}//change to 12 hour time

if(minutes<10){
minutes="0" + minutes}

var thetime=hours+":"+minutes+" "+suffix //puts it all togther
document.time.time2.value=thetime//adds the var to the input
setTimeout("liveclock()", 1000)//timesout just in case it doesnt work
}
liveclock()//runs the function
</script>
}