@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img class="img-responsive"   src="~/images/Hotel-California.png" />
</div> 
<div> Ben to orgnaise display here</div>
<div class="tooltipgill">
    Hover over me
    <span class="tooltiptextgill">Tooltip text</span>
</div>