@model Hotel_Management.Models.ChargeBack

@{
    ViewData["Title"] = "Create";
    var CustomerGuestID = (IEnumerable<SelectListItem>)ViewData["CustomerGuestID"];
}

<h2>Create a new chargeback</h2>
<div class="tooltipgill" style="color:red">
    Important!
    <span class="tooltiptextgill">
        Please ensure that all fields have been filled in before pressing create.
    </span>
</div>
<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ChargeBackLocation" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ChargeBackLocation" class="form-control" />
                <span asp-validation-for="ChargeBackLocation" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ChargeBackTotal" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ChargeBackTotal" class="form-control" />
                <span asp-validation-for="ChargeBackTotal" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerGuestID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CustomerGuestID" asp-items="CustomerGuestID" class="form-control">
                    <option></option>
                </select>
            </div>
        </div>
        @*<div class="form-group">
            <label asp-for="InvoiceID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="InvoiceID" class ="form-control"></select>
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-action="Index">Back to Summary</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
