@model Hotel_Management.Models.JobPosition

@{
    ViewData["Title"] = "Create";
}

<h2>Add a new job position</h2>
<div class="tooltipgill" style="color:red">
    Important!
    <span class="tooltiptextgill">
        Please ensure that all fields have been filled in before pressing create.
    </span>
</div>
<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="JobPositionName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="JobPositionName" class="form-control" />
                <span asp-validation-for="JobPositionName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JobPositionHourlyRate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="JobPositionHourlyRate" class="form-control" />
                <span asp-validation-for="JobPositionHourlyRate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JobDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="JobDescription" rows="5" class="form-control"></textarea>
                <span asp-validation-for="JobDescription" class="text-danger" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-action="Index">Back to Summary</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
