@{
    ViewData["Title"] = "Home Page";
}
<h2>Today....</h2>
<div class="tooltipgill">
    Help
    <span class="tooltiptextgill">
        Rooms to Clean: Here you can check the the rooms to find out which rooms need to be cleaned. <br /><br />
        Rooms to Service: Here you can check which rooms currently need to be serviced. <br /><br />
        Change Room Status: Here you can change the status of the rooms after they have been cleaned ready for a new booking. <br /><br />
        Add Maintenance: Here you can add a maintenance note to a room when the need arises.
    </span>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">Rooms to Clean</h3>
        <a asp-controller="Room" asp-action="Index" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-user g glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 ">
        <h3 class="text-center"> Rooms to Service</h3>
        <a asp-controller="Room" asp-action="Index" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-edit glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>

    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">Change Room Status</h3>
        <a asp-controller="Room" asp-action="Index" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-copy glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-3 col-sm-6">
        <h3 class="text-center">Add Maintenance</h3>
        <a asp-controller="Maintenance" asp-action="Create" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-wrench glyphicon-large" aria-hidden="true"></span>
        </a>
    </div>
</div>
