@model Hotel_Management.Models.Payment

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Payment</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="CreditCardDetailsID" class="control-label col-md-2">CreditCardDetailsID</label>
            <div class="col-md-10">
                <select asp-for="CreditCardDetailsID" class="form-control" />
                <span asp-validation-for="CreditCardDetailsID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DatePaid" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DatePaid" class="form-control" />
                <span asp-validation-for="DatePaid" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InvoiceID" class="control-label col-md-2">InvoiceID</label>
            <div class="col-md-10">
                <select asp-for="InvoiceID" class="form-control" />
                <span asp-validation-for="InvoiceID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReceiptNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ReceiptNumber" class="form-control" />
                <span asp-validation-for="ReceiptNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TotalPaid" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TotalPaid" class="form-control" />
                <span asp-validation-for="TotalPaid" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
